client/src/main/java/PredictionsSOAPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://predictions/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://predictions/" name="PredictionsSOAPService">
   <types>
      <xsd:schema>
         <xsd:import namespace="http://predictions/" schemaLocation="http://localhost:8888/predictions?xsd=1" />
      </xsd:schema>
   </types>
   <message name="delete">
      <part name="parameters" element="tns:delete" />
   </message>
   <message name="deleteResponse">
      <part name="parameters" element="tns:deleteResponse" />
   </message>
   <message name="create">
      <part name="parameters" element="tns:create" />
   </message>
   <message name="createResponse">
      <part name="parameters" element="tns:createResponse" />
   </message>
   <message name="VerbosityException">
      <part name="fault" element="tns:VerbosityException" />
   </message>
   <message name="edit">
      <part name="parameters" element="tns:edit" />
   </message>
   <message name="editResponse">
      <part name="parameters" element="tns:editResponse" />
   </message>
   <message name="getAll">
      <part name="parameters" element="tns:getAll" />
   </message>
   <message name="getAllResponse">
      <part name="parameters" element="tns:getAllResponse" />
   </message>
   <message name="getOne">
      <part name="parameters" element="tns:getOne" />
   </message>
   <message name="getOneResponse">
      <part name="parameters" element="tns:getOneResponse" />
   </message>
   <portType name="PredictionsSOAP">
      <operation name="delete">
         <input wsam:Action="http://predictions/PredictionsSOAP/deleteRequest" message="tns:delete" />
         <output wsam:Action="http://predictions/PredictionsSOAP/deleteResponse" message="tns:deleteResponse" />
      </operation>
      <operation name="create">
         <input wsam:Action="http://predictions/PredictionsSOAP/createRequest" message="tns:create" />
         <output wsam:Action="http://predictions/PredictionsSOAP/createResponse" message="tns:createResponse" />
         <fault message="tns:VerbosityException" name="VerbosityException" wsam:Action="http://predictions/PredictionsSOAP/create/Fault/VerbosityException" />
      </operation>
      <operation name="edit">
         <input wsam:Action="http://predictions/PredictionsSOAP/editRequest" message="tns:edit" />
         <output wsam:Action="http://predictions/PredictionsSOAP/editResponse" message="tns:editResponse" />
         <fault message="tns:VerbosityException" name="VerbosityException" wsam:Action="http://predictions/PredictionsSOAP/edit/Fault/VerbosityException" />
      </operation>
      <operation name="getAll">
         <input wsam:Action="http://predictions/PredictionsSOAP/getAllRequest" message="tns:getAll" />
         <output wsam:Action="http://predictions/PredictionsSOAP/getAllResponse" message="tns:getAllResponse" />
      </operation>
      <operation name="getOne">
         <input wsam:Action="http://predictions/PredictionsSOAP/getOneRequest" message="tns:getOne" />
         <output wsam:Action="http://predictions/PredictionsSOAP/getOneResponse" message="tns:getOneResponse" />
      </operation>
   </portType>
   <binding name="PredictionsSOAPPortBinding" type="tns:PredictionsSOAP">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <operation name="delete">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>
      <operation name="create">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
         <fault name="VerbosityException">
            <soap:fault name="VerbosityException" use="literal" />
         </fault>
      </operation>
      <operation name="edit">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
         <fault name="VerbosityException">
            <soap:fault name="VerbosityException" use="literal" />
         </fault>
      </operation>
      <operation name="getAll">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>
      <operation name="getOne">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>
   </binding>
   <service name="PredictionsSOAPService">
      <port name="PredictionsSOAPPort" binding="tns:PredictionsSOAPPortBinding">
         <soap:address location="http://localhost:8888/predictions" />
      </port>
   </service>
</definitions>